/*Styles on art.html*/
body {
	background: #383838;
}
h1,
h2,
h3,
h4,
h5,
span,
p {
	color: rgba(255, 255, 255, 0.8);
}
.panel {
	background: rgba(255, 255, 255, 0.2);
}
.art {
	width: 100%;
	display: inline;
	margin-left: auto;
	margin-right: auto;
}
.listing {
	display: inline;
}