body{
  background-image: url(../img/grid.png);
  background-repeat: repeat;
  background-attachment: fixed;
}
.rotate {
  -webkit-transform: rotate(355deg);
  -moz-transform: rotate(355deg);
  -o-transform: rotate(355deg);
  writing-mode: lr-tb;
}
.banner {
  text-align: center;
  margin-top: 3em;
  text-shadow: #284D43 0px -1px 1px;
  color: #222;
  font: 80px;
}
.gradient { 
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner h1 {
  font-size: 72px;
}
.banner h3 {
  font-size: 48px;
}
.spinning {
  -webkit-transform: rotate(100deg);
  -moz-transform: rotate(100deg);
  -o-transform: rotate(100deg);
  color: green;
  writing-mode: lr-tb;
}
.test {
  -webkit-transform: rotate(100deg);
  -moz-transform: rotate(100deg);
  -o-transform: rotate(100deg);
  color: green;
  writing-mode: lr-tb;
}