body{
  background-image: url(../img/grid.png);
  background-repeat: repeat;
}
.rotate {
  -webkit-transform: rotate(352deg);
  -moz-transform: rotate(352deg);
  -o-transform: rotate(352deg);
  writing-mode: lr-tb;
}
.banner {
  text-align: center;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner h1 {
  font-size: 72px;
}
.banner h3 {
  font-size: 48px;
}
