html, body {
  background: #303039;
  color: #fff;
  font-family: monospace;
  height: 100%;
  padding: 0;
  margin: 0;
}
a {
  color: #0f0;
}
#site-content {
  display: none;
}
#injected-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
