html, body {
  background: #303039;
  color: #fff;
  font-family: monospace;
}
a {
  color: #0f0;
}
#site-content {
  display: none;
}
#injected-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.glitch {
  color: #ccc;
  text-decoration: none;
  position: relative;
  font-size: 3em;
  font-weight: bold;
  word-spacing: -0.375em;
  display: inline-block;
  text-align: left;
  animation: cursor 3s infinite ease-in-out;
}
.glitch:hover, .glitch:hover:before, .glitch:hover:after {
  font-weight: normal;
  text-decoration: underline;
}
.glitch:before, .glitch:after {
  content: "Hack Club";
  position: absolute;
  background: #303039;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: hidden;
  clip: rect(0, 256px, 0, 0);
}
.glitch:before {
  left: 2px;
  text-shadow: -1px 0 red;
  animation: animation1 2s infinite linear alternate-reverse;
}
.glitch:after {
  left: -2px;
  text-shadow: -1px 0 green;
  animation: animation2 4s infinite linear alternate-reverse;
}

@keyframes cursor {
  0% {
    cursor: grabbing;
  }
  5% {
    cursor: grab;
  }
  10% {
    cursor: zoom-out;
  }
  15% {
    cursor: all-scroll;
  }
  20% {
    cursor: row-resize;
  }
  25% {
    cursor: zoom-in;
  }
  30% {
    cursor: text;
  }
  35% {
    cursor: crosshair;
  }
  40% {
    cursor: wait;
  }
  45% {
    cursor: progress;
  }
  50% {
    cursor: pointer;
  }
  55% {
    cursor: context-menu;
  }
  60% {
    cursor: none;
  }
  65% {
    cursor: help;
  }
  70% {
    cursor: vertical-text;
  }
  75% {
    cursor: alias;
  }
  80% {
    cursor: copy;
  }
  85% {
    cursor: move;
  }
  90% {
    cursor: no-drop;
  }
  95% {
    cursor: not-allowed;
  }
  100% {
    cursor: ew-resize;
  }
}

@keyframes animation1 {
  0% {
    clip: rect(57px, 9999px, 7px, 0);
  }
  5% {
    clip: rect(61px, 9999px, 22px, 0);
  }
  10% {
    clip: rect(34px, 9999px, 47px, 0);
  }
  15% {
    clip: rect(92px, 9999px, 40px, 0);
  }
  20% {
    clip: rect(6px, 9999px, 40px, 0);
  }
  25% {
    clip: rect(39px, 9999px, 46px, 0);
  }
  30% {
    clip: rect(33px, 9999px, 17px, 0);
  }
  35% {
    clip: rect(5px, 9999px, 17px, 0);
  }
  40% {
    clip: rect(40px, 9999px, 70px, 0);
  }
  45% {
    clip: rect(14px, 9999px, 34px, 0);
  }
  50% {
    clip: rect(26px, 9999px, 30px, 0);
  }
  55% {
    clip: rect(15px, 9999px, 100px, 0);
  }
  60% {
    clip: rect(10px, 9999px, 32px, 0);
  }
  65% {
    clip: rect(49px, 9999px, 61px, 0);
  }
  70% {
    clip: rect(61px, 9999px, 22px, 0);
  }
  75% {
    clip: rect(85px, 9999px, 36px, 0);
  }
  80% {
    clip: rect(38px, 9999px, 59px, 0);
  }
  85% {
    clip: rect(21px, 9999px, 88px, 0);
  }
  90% {
    clip: rect(46px, 9999px, 16px, 0);
  }
  95% {
    clip: rect(13px, 9999px, 35px, 0);
  }
  100% {
    clip: rect(75px, 9999px, 13px, 0);
  }
}

@keyframes animation2 {
  0% {
    clip: rect(62px, 9999px, 68px, 0);
  }
  5% {
    clip: rect(45px, 9999px, 9px, 0);
  }
  10% {
    clip: rect(9px, 9999px, 76px, 0);
  }
  15% {
    clip: rect(89px, 9999px, 83px, 0);
  }
  20% {
    clip: rect(44px, 9999px, 8px, 0);
  }
  25% {
    clip: rect(59px, 9999px, 24px, 0);
  }
  30% {
    clip: rect(96px, 9999px, 51px, 0);
  }
  35% {
    clip: rect(38px, 9999px, 28px, 0);
  }
  40% {
    clip: rect(92px, 9999px, 1px, 0);
  }
  45% {
    clip: rect(63px, 9999px, 80px, 0);
  }
  50% {
    clip: rect(1px, 9999px, 49px, 0);
  }
  55% {
    clip: rect(7px, 9999px, 49px, 0);
  }
  60% {
    clip: rect(35px, 9999px, 16px, 0);
  }
  65% {
    clip: rect(93px, 9999px, 72px, 0);
  }
  70% {
    clip: rect(55px, 9999px, 52px, 0);
  }
  75% {
    clip: rect(58px, 9999px, 68px, 0);
  }
  80% {
    clip: rect(94px, 9999px, 95px, 0);
  }
  85% {
    clip: rect(81px, 9999px, 24px, 0);
  }
  90% {
    clip: rect(98px, 9999px, 12px, 0);
  }
  95% {
    clip: rect(2px, 9999px, 96px, 0);
  }
  100% {
    clip: rect(95px, 9999px, 47px, 0);
  }
}
