html {
  min-width: 640px;
}
.tag {
  text-align: center;
  margin: 0;
  font-family: helvetica;
  max-width: 50em;
}
.tag-title{
  border: red 3px solid;
  padding: 1em;
  border-top-right-radius: 2em;
  border-top-left-radius: 2em;
  background-color: red;
  color: white;
  margin: 0;
  font-size: 200%;
}
.tag-contents {
  border: red 3px solid;
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em;
  margin: 0;
  font-size: 2em;
  min-height: 5em;
}