/* Theme modified from
https://css-tricks.com/examples/OnePageResume/index.html */

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.clear {
  border: none;
  float: none;
  margin: 0;
  height: 1em;
  clear: both;
}

.container {
  width: 800px;
  margin: 40px auto 60px;
}

h1 {
  margin: 0 0 16px 0;
  padding: 0 0 16px 0;
  font-size: 42px;
  font-weight: bold;
  font-family: "Open Sans", "Helvetica Neue", Roboto, Arial;
  border-bottom: 1px solid #999;
  position: relative;
}

.contact-info {
  position: absolute;
  bottom: 50%;
  right: 0;
  font-style: italic;
  font-family: Georgia, Serif;
  font-size: 16px;
  color: #999;
  font-weight: normal;
}

h2 {
  font-size: 1.2em;
  margin: 0 0 6px 0;
}

dd h2, li {
  position: relative;
}

.date {
  position: absolute;
  bottom: 0;
  right: 0;
  font-style: italic;
  font-family: Georgia, Serif;
  font-size: 16px;
  color: #999;
  font-weight: normal;
}

br {
  line-height: 2em;
}

a {
  color: #999;
  text-decoration: none;
  border-bottom: 1px dotted #999;
}

a:hover {
  border-bottom-style: solid;
  color: black;
}

ul {
  margin: 0 0 0 1.5em;
}

dt {
  font-style: italic;
  font-weight: bold;
  font-size: 1.1em;
  text-align: right;
  width: 150px;
  float: left;
}

dd {
  padding: 0 0 1em 26px;
  border-left: 1px solid #999;
  width: 600px;
  float: right;
}

canvas {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media print {
  canvas {
    display: none;
  }
}
