
body
{

	background-image:url('images/blackbackground.jpg');
	background-repeat:no-repeat;
	background-size:100% 100%;
}
#header1 
{
	display:block;
	width: 100px;
	height: 20px;
	background: images/
}
table {
  width:100%;
  margin: 10px auto;
  border: 10px;
}
p
{
	
}
td
{
	text-align: center;
} 
footer p 
{
	background-color:##323232;
}
#middle
{

}
#footer