body
{

	background-image:url('images/blackbackground.jpg');
	background-repeat:no-repeat;
	background-size:100% 100%;
}
#header1 
{
	display:block;
	width: 100px;
	height: 20px;
	background: images/
}
table {
  width:100%;
  margin: 10px auto;
  border: 10px;
}
td
{
	text-align: center;
} 
footer p 
{
	background-color:#323232;
}

#textbody
{
	font-color:#999999;
}
#subtitle 
{
	text-shadow: 4px 4px 4px #aaa
}
#undertext
{
	font-family: ubuntu;
	color: #F2F2F2;
}
#navimg
{
	z-index: 10;
	width: 14%;
	height: 11%;
}